@import "contentblogpost.css";
@media screen and (min-device-width: 320px) {
    .container {
        display: grid;
        background-color: #fdfefe;
        grid-template-columns: auto 300px;
        grid-template-rows: auto;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        grid-template-areas:
            "hd hd"
            "post post"
            "sd sd"
            "ft ft";
    }
}
@media screen and (min-device-width: 768px) {
    .container {
        display: grid;
        background-color: #f7f9fb;
        grid-template-columns: auto 300px;
        grid-auto-rows: auto;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        grid-template-areas:
            "hd"
            "post"
            "sd"
            "ft";
    }
    .header {
        margin-right: -300px;
    }

    .par {
        margin-right: -300px;
    }

    .sidebar {
        margin-right: -300px;
    }

    .shanepic {
        margin-left: 250px;
    }
    .footer {
        margin-right: -300px;
    }
}
@media screen and (min-device-width: 900px) {
    .container {
        display: grid;
        background-color: #f7f9fb;
        grid-template-columns: auto 300px;
        grid-auto-rows: auto;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        grid-template-areas:
            "hd"
            "post"
            "sd"
            "ft";
    }

    .shanepic {
        margin-left: 560px;
    }
}