 .footer { 
    grid-area: 19 / 1 / 21 / 13;
    font-family: 'garamond';
    font-size:13px;
    position: relative;
    }
    
 .socialicon ul {
    display: flex;
    justify-content: space-between;
    margin-left:10px;
    margin-right:1100px;
    margin-top: 35px;
    }
    
 .socialicon li{
    display: inline-block;
    }
    
 .subscribe{
    border: 2px solid black;
    text-decoration: none;
    font-style: normal;
    display: inline-block;
    padding: 13px 32px;
    position: absolute;
    bottom: 20px;
    right: 16px;
    }
 .subscribe:hover{
    background-color:#555555;
    color:white;
    text-decoration: none;
    }
