/* footer */            
.footer { 
    grid-area: ft;
    font-family: 'garamond';
    font-size:13px;
    position: relative;
    margin-right: -310px;
    }
            
    .socialicon ul {
    display: flex;
    justify-content: space-evenly;
    }
            
    .socialicon li{
    display: inline-block;
    }