.container {
    display: grid;
    background-color: #FDFEFE;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: minmax(440px, auto);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-areas: 
    "hd"
    "main"
    "card"
    "ft";
    }    
            
    /* Header */
    .header { 
    grid-area: hd;
    margin-bottom: 300px;
    margin-right: -310px;
    }
             
    .blogname {
    display: flex;
    justify-content: center;
    font-family: 'snell roundhand';
    font-size: 30px;
    font-weight: 100;
    }
              
    .nav ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-align: center;
    }
    .nav li {
    display: inline-block;
    }
    .nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    display:block;
    width: 50px;
    height: 30px;
    font-family: 'garamond';
    }
              
    .nav a:hover {
    color:grey;
    transition:0.4s;
    }