/* Main*/
.main {
    grid-area: main;
    position: relative;
    font-family: "raleway";
    margin-top: -300px;
    margin-right: -280px;
    margin-bottom: 200px;
}

.thaipic {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Blogcard*/

.blogcard {
    grid-area: card;
    border: 5px solid lightgrey;
    margin-top: -200px;
    margin-right: -200px;
    margin-left: 95px;
    text-align: center;
}

.post1name {
    display: flex;
    justify-content: center;
    color: black;
    font-weight: 100;
    text-decoration: none;
    font-size: 20px;
    font-style: normal;
    text-transform: none;
    letter-spacing: 6px;
    font-family: "raleway";
}

.date {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 15px;
    font-weight: 10;
}

.button1 {
    border: 1px solid black;
    color: white;
    padding: 1px 5px;
    font-size: 16px;
    font-style: normal;
    transition-duration: 0.4s;
}

.button1:hover {
    background-color: #555555;
    color: white;
    text-decoration: none;
}
