@import"header.css";
@import"body.css";
@import"footer.css";
@media screen and (min-device-width: 1200px) {
.container {
display: grid;
background-color: #f7f9fb;
grid-template-columns: auto 300px;
grid-auto-rows: auto;
grid-column-gap: 10px;
grid-row-gap: 10px;
grid-template-areas:
"hd"
"main"
"card"
"ft";
}
    }